.card img {
    width: 160px;
    height: 195px;
    }

    .nevbar a {
        font-size: 0.8rem;
        padding: 2px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .contact_form{
        width: 350px;
    }
    #licalogo{
        width: 110px;
    }

    .card{
        font-size: 15px;
  width: 98%;
    margin: 5px;
    padding: 7px;    
    }

    .cardcont h2{
        margin-top: 35px;
        font-size: 35px;
        text-decoration: underline;
        text-shadow: 1px 1px 2px black;
    }